table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
table tr td {
    border: none;
}
table {
    border: none;
    font-family: monospace;
}
table tr td:nth-child(2) {
    text-align: right;
}
img {
    width: 100%;
}

.news {
    display: none;
    background-color: #ffffcc;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-width: 1px;
    border-color: #ffcc00;
    border-style: solid;
}
.news p {
    margin: 1em;
}

/* Show the news div only on desktop screens */
@media (min-width: 1024px) {
    .news {
        display: block;
    }
}

body {
    max-width: 42em;
    margin: 0 auto;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 6em;
    font-family: sans-serif;
    line-height: 160%;
}
